<html> 
    <head> 
      <title>Test </title> 
      <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <body> 
      <h1>Test</h1> 
      <style>
        .img-container img{
          float: left;
          width: 50%;
        }
      </style>
      <!--<img src="{{ user_image }}" width="1000" height="1000">-->
      <div class="img-container">
        <img id="TLtread" src="{{ user_image }}" width="400" height="400">
        <img id="TRtread" src="{{ user_image }}" width="400" height="400">
        <img id="BLtread" src="{{ user_image }}" width="400" height="400">
        <img id="BRtread" src="{{ user_image }}" width="400" height="400">
      </div>

    </body>
    </head>
    <script>
        //connect gamepad from window
        window.addEventListener("gamepadconnected", function(e) {
          console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
            e.gamepad.index, e.gamepad.id,
            e.gamepad.buttons.length, e.gamepad.axes.length);
        });
        //set controller as gp
        var gp = navigator.getGamepads()[0];
        //disconnect gamepad from window
        window.addEventListener("gamepaddisconnected", function(e) {
          console.log("Gamepad disconnected from index %d: %s",
            e.gamepad.index, e.gamepad.id);
        });
        //apply Deadzone so no motor running when at rest
        var applyDeadzone = function(number, threshold){
          percentage = (Math.abs(number) - threshold) / (1 - threshold);
          if(percentage < 0)
            percentage = 0;
          return percentage * (number > 0 ? 1 : -1);
        }
        //var xaxis = applyDeadzone(gp.axes[0], 0.25);
        //var yaxis = applyDeadzone(gp.axes[1], 0.25);
        //console log controller axis positions
        function logController() {
          gp = navigator.getGamepads()[0];
          console.log(gp.axes[1]);
          console.log(gp.axes[3]);
        }
        //setInterval(logController, 100)
        //runs python script in app.py

        function joystick() {
          gp = navigator.getGamepads()[0];
          joystick1 = applyDeadzone(gp.axes[1], 0.25);
          joystick2 = applyDeadzone(gp.axes[3], 0.25);
          turretClockwise = gp.buttons[5].value;
          turretCounterClockwise = gp.buttons[4].value;
          shoulderUp = gp.buttons[0].value;
          shoulderDown = gp.buttons[3].value;
          elbowUp = gp.buttons[1].value;
          elbowDown = gp.buttons[2].value;
          $.ajax({
            url: "{{ url_for('forward') }}",
            type: 'POST',
            data: {'joystick1': joystick1, 'joystick2': joystick2, 'turretClockwise': turretClockwise, 'turretCounterClockwise': turretCounterClockwise, 'shoulderUp': shoulderUp, 'shoulderDown': shoulderDown, 'elbowUp': elbowUp, 'elbowDown': elbowDown},
            success: function(response) {
              console.log("Data Sent");
            }
          
          });
        }
        var change = 0;
        const TLtread = document.getElementById('TLtread');
        const TRtread = document.getElementById('TRtread');
        const BLtread = document.getElementById('BLtread');
        const BRtread = document.getElementById('BRtread');
        function photo() {
          //rotate image along bottom middle of image
          TLtread.style.transform = 'rotate(' + change + 'deg)';
          TRtread.style.transform = 'rotate(' + change + 'deg)';
          BLtread.style.transform = 'rotate(' + change + 'deg)';
          BRtread.style.transform = 'rotate(' + change + 'deg)';
          change += 1;
          console.log("Rotated");
        }
        setInterval(photo, 100);
    </script>
</html>