<html> 
    <head> 
      <title>Test </title> 
      <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <body> 
      <h1>Test</h1> 
      <!-- create W,A,S,D buttons-->
      <button type="button" onclick="forward()">W</button>
      <button type="button" onclick="left()">A</button>
      <button type="button" onclick="backward()">S</button>
      <button type="button" onclick="right()">D</button>
      <!-- run the "print_test.py" file when "w" is clicked -->
      <script>
        function revdown() {
          $.ajax({
            url: '/revdown',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function forward() {
          $.ajax({
            url: '/forward',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function left() {
          $.ajax({
            url: '/left',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function backward() {
          $.ajax({
            url: '/backward',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function right() {
          $.ajax({
            url: '/right',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
      </script>
      <script>
        //connect gamepad from window
        window.addEventListener("gamepadconnected", function(e) {
          console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
            e.gamepad.index, e.gamepad.id,
            e.gamepad.buttons.length, e.gamepad.axes.length);
        });
        //disconnect gamepad from window
        window.addEventListener("gamepaddisconnected", function(e) {
          console.log("Gamepad disconnected from index %d: %s",
            e.gamepad.index, e.gamepad.id);
        });
        //console log controller axis positions
        function logController() {
          var gp = navigator.getGamepads()[0];
          console.log(gp.axes[0], gp.axes[1]);
        }
      </script>
      <script>
        window.addEventListener('keydown', (event) => {
          console.log(event)
          var name = event.key;
          if (name === 'w') {
            forward()
          }
          else if (name === 'a') {
            left()
          }
          else if (name === 's') {
            backward()
          }
          else if (name === 'd') {
            backward()
          }
        });
      </script>
    </body>
</html> 

