<html> 
    <head> 
      <title>Test </title> 
      <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <body> 
      <h1>Test</h1> 
      <!-- create W,A,S,D buttons-->
      <button type="button" onclick="forward()">W</button>
      <button type="button" onclick="left()">A</button>
      <button type="button" onclick="backward()">S</button>
      <button type="button" onclick="right()">D</button>
      <!-- run the "print_test.py" file when "w" is clicked -->
      <script>
        function revdown() {
          $.ajax({
            url: '/revdown',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function forward() {
          $.ajax({
            url: '/forward',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function left() {
          $.ajax({
            url: '/left',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function backward() {
          $.ajax({
            url: '/backward',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
        function right() {
          $.ajax({
            url: '/right',
            type: 'POST',
            success: function(response) {
              console.log(response);
            },
            error: function(error) {
              console.log(error);
            }
          });
        }
      </script>
      <script>
        window.addEventListener("gamepadconnected", function(e) {
          console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
            e.gamepad.index, e.gamepad.id,
            e.gamepad.buttons.length, e.gamepad.axes.length);
        });
        window.addEventListener("gamepaddisconnected", function(e) {
          console.log("Gamepad disconnected from index %d: %s",
            e.gamepad.index, e.gamepad.id);
        });
        //If the left joystick is moved forward or backward, the robot will move forward or backward
        function leftJoystick() {
          var gamepad = navigator.getGamepads()[0];
          var leftJoystick = gamepad.axes[1];
          if (leftJoystick < -0.5) {
            forward();
          } else if (leftJoystick > 0.5) {
            backward();
          }
        }
        //If the right joystick is moved left or right, the robot will turn left or right
        function rightJoystick() {
          var gamepad = navigator.getGamepads()[0];
          var rightJoystick = gamepad.axes[3];
          if (rightJoystick < -0.5) {
            left();
          } else if (rightJoystick > 0.5) {
            right();
          }
        }
        var gamepad = navigator.getGamepads()[0];
        var interval = setInterval(function() {
          gamepad = navigator.getGamepads()[0];
          if (gamepad) {
            if (gamepad.buttons[7].pressed) {
              forward();
              while (gamepad.buttons[7].pressed) {
                console.log("button is held")
              }
              console.log("button released")
              revdown()
            }
            if (gamepad.buttons[5].pressed) {
              left();
            }
            if (gamepad.buttons[8].pressed) {
              backward();
            }
            if (gamepad.buttons[6].pressed) {
              right();
            }

          }
        });
        // add window event listener to check for gamepad input
        window.addEventListener("gamepadconnected", function(e) {
          console.log("Gamepad connected at index %d: %s. %d buttons, %d axes.",
            e.gamepad.index, e.gamepad.id,
            e.gamepad.buttons.length, e.gamepad.axes.length);
        });
        rightJoystick();
        leftJoystick();
      </script>
      <script>
        window.addEventListener('keydown', (event) => {
          console.log(event)
          var name = event.key;
          if (name === 'w') {
            forward()
          }
          else if (name === 'a') {
            left()
          }
          else if (name === 's') {
            backward()
          }
          else if (name === 'd') {
            backward()
          }
        });
      </script>
    </body>
</html> 

